<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Natural Gems </title>
</head>
<body>
  <% if (user) { %>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Welcome to my Gem collection, <%= user.username %>!!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Welcome my natural gem collection!</h1>
  <% } %>
</body>
</html>
