<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/stylesheets/userlist.css" />
<title>Community - Explore Our Users</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Explore Our Community</h1>
  <h2>List of Collectors</h2>
  <section class="memebers">
    <div class="memeber-info">
   <ul>
    <% users.forEach(user => { %>
      <div class="list-info">
        <li><a href="/users/<%= user._id %>"><%= user.username %></a></li>
      </div>
    <% }); %>
   </ul>
</div>
</section>
<button><a href="/">Back to Collection</a></button>
</body>
</html>
    